<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Transactions
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="showSearchbar" color="graphite" no-border-top>
    <ion-searchbar [showCancelButton]="true" (ionCancel)="closeSearchbar()" (ionInput)="findItems($event)" placeholder="Search Cleared Transactions"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isFiltering == true" class="app-background" #content>
  <ion-item-divider class="header" color="headercolor">Filtered Transactions</ion-item-divider>
  <ion-card class="empty-card" *ngIf="filterItems.length == 0">
    <ion-card-content>
      No transactions found matching your criteria.
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item text-wrap *ngFor='let transaction of filterItems'>
      <ion-icon name="md-lock" item-start color="mediumgray"></ion-icon>
      <ion-label color=dark>{{transaction.name}}
        <div class="category-name ellipses-left">{{transaction.categoryName}}</div>
        <p>{{transaction.date | date:'mediumDate'}}</p>
      </ion-label>

      <ion-note item-end>
        <span class="float-right" [ngClass]="transaction.direction == 'Inflow'  ? 'pos-category' : (transaction.direction == 'Outflow' ? 'neg-category' : 'transfer-category')">
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Inflow'" name="md-arrow-round-down" color="wintergreen"></ion-icon>
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Transfer'" name="md-swap" color="buttonblue"></ion-icon>
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Outflow'" name="md-arrow-round-up" color="cardinalred"></ion-icon>
          {{transaction.amount/100 | currency}}</span>
        <div class="top-spacer"></div>
        <span class="ellipses-right" [ngClass]="transaction.direction == 'Inflow'  ? 'inflow-account-name' : (transaction.direction == 'Outflow' ? 'outflow-account-name' : 'transfer-account-name')">{{transaction.accountName}}</span>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="isFiltering == false" class="app-background" #content>

  <!--NO TRANSACTIONS-->
  <ion-card text-center class="empty-card" *ngIf="pendingTransactions.length == 0 && clearedTransactions.length == 0">
    <ion-card-content>
      You don't have any Transactions. Press the '+' button in the tab bar below to add a Transaction.
    </ion-card-content>
  </ion-card>


  <!-- PENDING TRANSACTIONS -->
  <!--<ion-item>
        <ion-icon name="md-unlock" item-start color="mediumgray"></ion-icon>

         <div class="row1">
          <div class="titleContainer">
            <div style="font-size: 1.1em;" class="title">
              oot
            </div>
            <div class="desc">
              bology this is the description ooo yeah
            </div>
          </div>

          <div class="amt">
            <span [ngClass]="transaction.direction == 'Inflow'  ? 'pos-category' : (transaction.direction == 'Outflow' ? 'neg-category' : 'transfer-category')">
              <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Inflow'" name="md-arrow-round-down" color="wintergreen"></ion-icon>
              <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Transfer'" name="md-swap" color="buttonblue"></ion-icon>
              <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Outflow'" name="md-arrow-round-up" color="cardinalred"></ion-icon>
              {{transaction.amount/100 | currency}}</span>
          </div>
        </div>
        <div class="row2">
          <div style="color: #666667"class="date">
            junith
          </div>
          <div class="bank">
            bank my boooloy asdf adsf
          </div>
        </div>
      </ion-item> -->
  <!-- <ion-item>
          <div style="display: flex; justify-content: space-between;">
          <div style="display: flex; flex-direction: column;">
            <div>
              {{transaction.name}}
            </div>
            <div>
              {{transaction.categoryName}}
            </div>
          </div>
          <div style="margin-top: 7px;">
              <span [ngClass]="transaction.direction == 'Inflow'  ? 'pos-category' : (transaction.direction == 'Outflow' ? 'neg-category' : 'transfer-category')">
                  <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Inflow'" name="md-arrow-round-down" color="wintergreen"></ion-icon>
                  <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Transfer'" name="md-swap" color="buttonblue"></ion-icon>
                  <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Outflow'" name="md-arrow-round-up" color="cardinalred"></ion-icon>
                  {{transaction.amount/100 | currency}}</span>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div>
            {{transaction.date | date:'mediumDate'}}
          </div>
          <div style="margin-left: 20px; text-overflow: ellipsis;">
            {{transaction.accountName}}
          </div>
        </div>
      </ion-item> -->
  <ion-item-divider style="margin-bottom: 1px" *ngIf="pendingTransactions.length != 0" color="headercolor">Pending Transactions</ion-item-divider>
  <ion-list *ngFor='let key of pendingHeaderDates'>
    <ion-list-header color="pondblue" style="border-top: 0.55px solid #c8c7cc; min-height: 18px; height: 18px !important; font-size: 1em">{{key | date:'mediumDate'}}</ion-list-header>
    <ion-item-sliding *ngFor='let transaction of pendingGroupedObject[key]' #slidingItem>
      <ion-item text-wrap>
        <ion-icon name="md-unlock" item-start color="mediumgray"></ion-icon>
        <ion-label color=dark>{{transaction.name}}
          <div class="category-name">{{transaction.categoryName}}</div>
        </ion-label>

        <ion-note item-end>
          <span class="float-right" [ngClass]="transaction.direction == 'Inflow'  ? 'pos-category' : (transaction.direction == 'Outflow' ? 'neg-category' : 'transfer-category')">
            <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Inflow'" name="md-arrow-round-down" color="wintergreen"></ion-icon>
            <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Transfer'" name="md-swap" color="buttonblue"></ion-icon>
            <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Outflow'" name="md-arrow-round-up" color="cardinalred"></ion-icon>
            {{transaction.amount/100 | currency}}</span>
          <div class="top-spacer"></div>
          <span class="ellipses-right" [ngClass]="transaction.direction == 'Inflow'  ? 'inflow-account-name' : (transaction.direction == 'Outflow' ? 'outflow-account-name' : 'transfer-account-name')">{{transaction.accountName}}</span>
        </ion-note>
      </ion-item>
      <ion-item-options (ionSwipe)="clear(slidingItem, transaction._id)" side="left">
        <button class="swipe-buttons" ion-button expandable (click)="clear(slidingItem, transaction._id)">
          <ion-icon name="md-lock"></ion-icon>
          CLEAR
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="dark" (click)="edit(slidingItem, transaction)">
          <ion-icon name="md-create"></ion-icon>
          EDIT
        </button>
        <button ion-button color="cardinalred" (click)="delete(slidingItem, transaction._id, transaction.sourceCatId, transaction.destCatId, transaction.sourceAcctId, transaction.destAcctId)">
          <ion-icon name="trash"></ion-icon>
          DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- PENDING TRANSACTIONS -->

  <!-- CLEARED TRANSACTIONS -->
  <ion-item-divider style="margin-bottom: 1px" *ngIf="clearedTransactions.length != 0" color="headercolor">Cleared Transactions</ion-item-divider>
  <ion-list *ngFor='let key of clearedHeaderDates'>
    <ion-list-header color="pondblue" style="border-top: 0.55px solid #c8c7cc; min-height: 18px; height: 18px !important; font-size: 1em">{{key | date:'mediumDate'}}</ion-list-header>
    <ion-item text-wrap *ngFor='let transaction of clearedGroupedObject[key]'>
      <ion-icon name="md-lock" item-start color="mediumgray"></ion-icon>
      <ion-label color=dark>{{transaction.name}}
        <div class="category-name">{{transaction.categoryName}}</div>
      </ion-label>

      <ion-note item-end>
        <span class="float-right" [ngClass]="transaction.direction == 'Inflow'  ? 'pos-category' : (transaction.direction == 'Outflow' ? 'neg-category' : 'transfer-category')">
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Inflow'" name="md-arrow-round-down" color="wintergreen"></ion-icon>
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Transfer'" name="md-swap" color="buttonblue"></ion-icon>
          <ion-icon class="icon-margin" *ngIf="transaction.direction == 'Outflow'" name="md-arrow-round-up" color="cardinalred"></ion-icon>
          {{transaction.amount/100 | currency}}</span>
        <div class="top-spacer"></div>
        <span class="ellipses-right" [ngClass]="transaction.direction == 'Inflow'  ? 'inflow-account-name' : (transaction.direction == 'Outflow' ? 'outflow-account-name' : 'transfer-account-name')">{{transaction.accountName}}</span>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="!noMoreTransactions" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- CLEARED TRANSACTIONS -->


</ion-content>