<ion-header>
  <ion-navbar color=dark>
    <ion-title>
      {{action}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="center-text" color=dark>
    <ion-segment [(ngModel)]="newTransactionData.direction" class="columnControls">
      <ion-segment-button [ngClass]="newTransactionData.direction == 'Outflow' ? 'outflowArrow' : 'inactiveArrow'" value="Outflow">
        <ion-icon name="md-arrow-round-up"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [ngClass]="newTransactionData.direction == 'Transfer' ? 'transferArrow' : 'inactiveArrow'" value="Transfer">
        <ion-icon name="md-swap"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [ngClass]="newTransactionData.direction == 'Inflow' ? 'inflowArrow' : 'inactiveArrow'" value="Inflow">
        <ion-icon name="md-arrow-round-down"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background">
  <ion-list>
    <form [formGroup]="commonForm">
      <ion-item>
        <ion-label stacked [class.invalid]="!commonForm.controls.name.valid && this.submitted" color="darkgray">Transaction Name</ion-label>
        <ion-input formControlName="name" placeholder="Name" [(ngModel)]="newTransactionData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked [class.invalid]="!commonForm.controls.amount.valid && this.submitted" color="darkgray">Amount</ion-label>
        <ion-input formControlName="amount" type="number" placeholder="0.00" [(ngModel)]="newTransactionData.amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [class.invalid]="!commonForm.controls.date.valid && this.submitted" color="darkgray">Date</ion-label>
        <ion-datetime formControlName="date" displayFormat="MMM DD, YYYY" min="2018-01-01" max="2050-01-01" [(ngModel)]="newTransactionData.date"></ion-datetime>
      </ion-item>
    </form>

    <!-- OUTFLOW -->
    <form [formGroup]="outflowForm">
      <ion-item *ngIf="newTransactionData.direction == 'Outflow'">
        <ion-label [class.invalid]="!outflowForm.controls.category.valid && this.submitted" color="darkgray">Category</ion-label>
        <ion-select formControlName="category" placeholder="Select" [(ngModel)]="newTransactionData.sourceCatId">
          <ion-option *ngFor="let category of categories" [value]="category._id">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="newTransactionData.direction == 'Outflow'">
        <ion-label [class.invalid]="!outflowForm.controls.account.valid && this.submitted" color="darkgray">Account</ion-label>
        <ion-select formControlName="account" placeholder="Select" [(ngModel)]="newTransactionData.sourceAcctId">
          <ion-option *ngFor="let account of accounts" [value]="account._id">{{account.name}}</ion-option>
        </ion-select>
      </ion-item>
    </form>

    <!-- INFLOW -->
    <form [formGroup]="inflowForm">
      <ion-item *ngIf="newTransactionData.direction == 'Inflow'">
        <ion-label [class.invalid]="!inflowForm.controls.category.valid && this.submitted" color="darkgray">Category</ion-label>
        <ion-select formControlName="category" placeholder="Select" [(ngModel)]="newTransactionData.destCatId">
          <ion-option *ngFor="let category of categories" [value]="category._id">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="newTransactionData.direction == 'Inflow'">
        <ion-label [class.invalid]="!inflowForm.controls.account.valid && this.submitted" color="darkgray">Account</ion-label>
        <ion-select formControlName="account" placeholder="Select" [(ngModel)]="newTransactionData.destAcctId">
          <ion-option *ngFor="let account of accounts" [value]="account._id">{{account.name}}</ion-option>
        </ion-select>
      </ion-item>
    </form>

    <!-- TRANSFER -->
    <form [formGroup]="transferForm">
      <ion-item *ngIf="newTransactionData.direction == 'Transfer'">
        <ion-label [class.invalid]="!transferForm.controls.source.valid && this.submitted" color="darkgray">Source</ion-label>
        <ion-select formControlName="source" placeholder="Select" [(ngModel)]="newTransactionData.sourceAcctId">
          <ion-option *ngFor="let account of accounts" [value]="account._id">{{account.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="newTransactionData.direction == 'Transfer'">
        <ion-label [class.invalid]="!transferForm.controls.dest.valid && this.submitted" color="darkgray">Destination</ion-label>
        <ion-select formControlName="dest" placeholder="Select" [(ngModel)]="newTransactionData.destAcctId">
          <ion-option *ngFor="let account of accounts" [value]="account._id">{{account.name}}</ion-option>
        </ion-select>
      </ion-item>
    </form>

  </ion-list>
</ion-content>