transaction-modal {
  .outflowArrow {
    background-color: map-get($colors, cardinalred) !important;
    border-color: map-get($colors, cardinalred) !important;
    color: white !important;
  }

  .inflowArrow{
    background-color: map-get($colors, wintergreen) !important;
    border-color: map-get($colors, wintergreen) !important;
    color: white !important;
  }

  .transferArrow{
    background-color: map-get($colors, buttonblue) !important;
    border-color: map-get($colors, buttonblue) !important;
    color: white !important;
  }

  .inactiveArrow{
    border-color: white !important;
    color: white !important;
    background-color: transparent !important;
  }

}