<ion-header>
  <ion-toolbar color=dark>
    <ion-title>
      New Account
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background">
  <ion-card>
    <ion-item>
      <ion-label color=darkgray style="font-size: 35px">$</ion-label>
      <ion-input style="font-size: 35px" [(ngModel)]="newTransactionData.amount" type="number" placeholder="0.00" clearInput></ion-input>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Account Name" [(ngModel)]="accountData.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Account Type</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="accountData.type">
        <ion-option value="b">Bank Account</ion-option>
        <ion-option value="c">Credit Card</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>