<ion-header>
  <ion-toolbar color=dark>
    <ion-title>
      New Account
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background">

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label stacked [class.invalid]="!form.controls.accountName.valid && this.submitted" color="darkgray">Account Name</ion-label>
        <ion-input formControlName="accountName" placeholder="Name" [(ngModel)]="accountData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked [class.invalid]="!form.controls.currentAmount.valid && this.submitted" color="darkgray">Current Amount</ion-label>
        <ion-input formControlName="currentAmount" [(ngModel)]="newTransactionData.amount" type="number" placeholder="0.00"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [class.invalid]="!form.controls.accountType.valid && this.submitted" color="darkgray">Account Type</ion-label>
        <ion-select formControlName="accountType" placeholder="Select" [(ngModel)]="accountData.type">
          <ion-option value="b">Bank Account</ion-option>
          <ion-option value="m">Cash</ion-option>
          <ion-option value="c">Credit Card</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

</ion-content>