page-accounts {
    .bubble-text{
        border-radius: 35px;
        padding: 3px 11px 3px 11px;
        background-color:rgba(10, 10, 10, 0.65);
    }
    .pos-account {
        color: map-get($colors, wintergreen);
    }
    .neg-account {
        color: map-get($colors, cardinalred);
    }
    .zero-account {
        color: map-get($colors, mediumgray);
    }
    .account-header{
        font-weight: bold;
        color: map-get($colors, light);
    }
    .account-amount{
        font-weight: bold;
        font-size: 24px;
    }
    .account-icon{
        float: right;
        color: map-get($colors, graphite);
    }

    .type-icon{
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        color: map-get($colors, graphite);
    }
  
    .text{
        display: inline-block;
        vertical-align: middle;
        color: map-get($colors, graphite);
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
