<ion-header>
  <ion-navbar color=dark>
    <ion-title>
      Accounts
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="app-background">

  <ion-card class="empty-card" *ngIf="accounts.length == 0">
    <ion-card-content>
      You haven't added any Accounts yet. Press the '+' button above to add an Account.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor='let account of accounts' class="aspire-card">
    <ion-card-header class="account-header">
      <ion-icon (click)="present(account)" class="account-icon" name="ios-settings"></ion-icon>
      <ion-icon class="type-icon" name={{getIcon(account)}}></ion-icon>
      <span class="text">{{account.name}}</span>
    </ion-card-header>
    <ion-card-content class="account-amount">
      <span [ngClass]="account.amount > 0  ? 'pos-account' : (account.amount < 0 ? 'neg-account' : 'zero-account')">{{account.amount/100 | currency}}</span>
    </ion-card-content>
  </ion-card>
</ion-content>