// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

@mixin categoryAmount {
  background: map-get($colors, light);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  font-weight: bold;
  border-width: 2px !important;
  font-size: 16px;
  border: solid lighten(map-get($colors, mediumgray), 20%);
}

.pos-category {
  @include categoryAmount();
  color: map-get($colors, wintergreen);
  border: solid lighten(#51AD7C, 35%);
}

.neg-category {
  @include categoryAmount();
  color: map-get($colors, cardinalred);
  border: solid lighten(#DA5558, 30%);
}

.zero-category {
  @include categoryAmount();
  color: map-get($colors, mediumgray);
}

.normal-category {
  @include categoryAmount();
  color: map-get($colors, darkgray);
}

.transfer-category {
  @include categoryAmount();
  color: map-get($colors, buttonblue);
}

.swipe-buttons {
  background: map-get($colors, phantomgray);
}

.header{
  color: map-get($colors, dark);
  font-size: 14px;
  font-weight: bold;
}

.app-background{
  background: map-get($colors, backgroundgray);
}

.header-right-text{
  font-size: 14px;
  font-weight: 300;
  color: map-get($colors, dark);
}

.invalid {
  color: map-get($colors, cardinalred) !important;
  font-weight: bold;
}

.aspire-card{
  border-radius: 5px !important;
  border-style: solid;
  border: solid lighten(map-get($colors, mediumgray), 10%);
  border-width: 1px;
  box-shadow: none !important;

}

