move-money-modal {
  .activeArrow{
    background-color: map-get($colors, buttonblue) !important;
    border-color: map-get($colors, buttonblue) !important;
    color: white !important;
  }

  .inactiveArrow{
    border-color: white !important;
    color: white !important;
    background-color: transparent !important;
  }
  
  .sum-category {
    @include categoryAmount();
    background-color: map-get($colors, darkgray);
  }

   @mixin moveMoneyHeader{
    color: map-get($colors, darkgray);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-top: 1px solid lighten(map-get($colors, mediumgray), 10%);
    border-bottom: 1px solid lighten(map-get($colors, mediumgray), 10%);
    background-color: map-get($colors, lightgray);
    text-align: center;
  }

  .moveMoneyHeaderTop{
    @include moveMoneyHeader();
    border-top: 0px solid lighten(map-get($colors, mediumgray), 10%);
  }

  .moveMoneyHeaderBottom{
    @include moveMoneyHeader();
  }

  .backdrop{
    text-align: center;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .moveMoneyText{
    color: map-get($colors, darkgray);
    font-size: 16px;
  }

  .spacer{
    height: 22px;
  }
}
