<ion-header>
  <ion-navbar color=dark>
    <ion-title>
      Move Money
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color=dark>
    <ion-segment [(ngModel)]="newTransactionData.direction">
      <ion-segment-button (click)="moveMoneyIn()" [ngClass]="newTransactionData.direction == 'into' ? 'activeArrow' : 'inactiveArrow'"
        value="into">
        <ion-icon name="md-arrow-round-down"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="moveMoneyOut()" [ngClass]="newTransactionData.direction == 'from' ? 'activeArrow' : 'inactiveArrow'"
        value="from">
        <ion-icon name="md-arrow-round-up"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background">

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label stacked [class.invalid]="!form.controls.amount.valid && this.submitted" color="darkgray">Amount</ion-label>
        <ion-input formControlName="amount" (input)="calculateSums()" type=" number " placeholder="0.00 " [(ngModel)]="newTransactionData.amount "></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-card class="aspire-card">
    <div class="moveMoneyHeaderTop">{{currentAtob.name}}</div>
    <div class="backdrop">
      <span class="normal-category ">{{currentAtob.amount/100 | currency}}</span>
      <span class="moveMoneyText" *ngIf="newTransactionData.amount ">{{atobCalc}}</span>
      <span *ngIf="newTransactionData.amount" [ngClass]="newTransactionData.direction=='from' ? 'pos-category' :
      'neg-category' ">{{newTransactionData.amount | currency}}</span>
      <div class="spacer" *ngIf="newTransactionData.amount > 9999"></div>
      <span class="moveMoneyText" *ngIf="newTransactionData.amount">=</span>
      <span *ngIf="newTransactionData.amount" [ngClass]="atobAmount > 0  ? 'pos-category' : (atobAmount < 0 ? 'neg-category' : 'zero-category')">{{atobAmount/100 | currency}}</span>
    </div>

    <div class="moveMoneyHeaderBottom">{{currentCatName}}</div>
    <div class="backdrop">
      <span class="normal-category">{{currentTargetCatAmount/100 | currency}}</span>
      <span class="moveMoneyText" *ngIf="newTransactionData.amount">{{targetCatCalc}}</span>
      <span *ngIf="newTransactionData.amount" [ngClass]="newTransactionData.direction == 'from' ? 'neg-category' : 'pos-category'">{{newTransactionData.amount | currency}}</span>
      <div class="spacer" *ngIf="newTransactionData.amount > 9999"></div>
      <span class="moveMoneyText" *ngIf="newTransactionData.amount">=</span>
      <span *ngIf="newTransactionData.amount" [ngClass]="targetCatAmount > 0  ? 'pos-category' : (targetCatAmount < 0 ? 'neg-category' : 'zero-category')">{{targetCatAmount/100 | currency}}</span>
    </div>

  </ion-card>

</ion-content>